$outer: #1f2134;
$black: #151720;

$beige: #b7765a;
$red: #dd6777;
$archlogo: #256989;

$bg: #1a1b26;
$bg-alt: rgba(#222330, 0.5);
// $bg-alt: #222330;
$fg: #c0caf5;
// $black: #414868;
$lightblack: #262831;
// $red: #f7768e;
$blue: #7aa2f7;
$cyan: #7dcfff;
$magenta: #bb9af7;
$green: #9ece6a;
$yellow: #e0af68;
$archicon: #0f94d2;
